/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-text-color: var(--pink_dark-theme, #F1B2CE); 
  --accent-text-color: var(--black_dark-theme, #000028); 
  --sub-accent-text-color: var(--red_dark-theme, #FF0070); 
  --bg-color-accent-text: var(--red_dark-theme, #FF0070); 
  --heading-text-color: var(--fucsia_dark-theme, #DB00FF); 
  --main-bg-color: var(--black_dark-theme, #000028); 
  --border-color-pseudo: var(--red_dark-theme, #FF0070); 
  --border-color-hover-button: var(--violet_dark-theme, #FF007066); 
}

@media (prefers-color-scheme: dark) { 
  :root { 
    --main-text-color: var(--pink_dark-theme, #F1B2CE); 
    --accent-text-color: var(--black_dark-theme, #000028); 
    --sub-accent-text-color: var(--red_dark-theme, #FF0070); 
    --bg-color-accent-text: var(--red_dark-theme, #FF0070); 
    --heading-text-color: var(--fucsia_dark-theme, #DB00FF); 
    --main-bg-color: var(--black_dark-theme, #000028); 
    --border-color-pseudo: var(--red_dark-theme, #FF0070); 
    --border-color-hover-button: var(--violet_dark-theme, #FF007066); 
  } 

  .page {  
    background-image: url(../images/cover-image-dark.png); 
  } 

  .decoration-rec {  
    display: block; 
  }
}

.theme-dark .page {
  background-image: url(../images/cover-image-dark.png); 
}

.theme-dark .decoration-rec {  
  display: block; 
}