/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-text-color: var(--grey_light-theme, #353430); 
  --accent-text-color: var(--grey_light-theme, #353430); 
  --sub-accent-text-color: var(--grey_light-theme, #353430); 
  --bg-color-accent-text: var(--dark-pink_light-theme, #FF8DCB); 
  --heading-text-color: var(--grey-pink_light-theme, #FFC2E6); 
  --main-bg-color: var(--pink_light-theme, #FFF1F7); 
  --border-color-pseudo: var(--grey_light-theme, #353430); 
  --border-color-hover-button: var(--black_light-theme-opacity, #32312D66); 
}

@media (prefers-color-scheme: light) { 
  :root { 
    --main-text-color: var(--grey_light-theme, #353430); 
    --accent-text-color: var(--grey_light-theme, #353430); 
    --sub-accent-text-color: var(--grey_light-theme, #353430); 
    --bg-color-accent-text: var(--dark-pink_light-theme, #FF8DCB); 
    --heading-text-color: var(--grey-pink_light-theme, #FFC2E6); 
    --main-bg-color: var(--pink_light-theme, #FFF1F7); 
    --border-color-pseudo: var(--grey_light-theme, #353430); 
    --border-color-hover-button: var(--black_light-theme-opacity, #32312D66); 
  }
  .page {  
    background-image: url(../images/cover-image-light.png); 
  } 

  .decoration-rec {  
    display: none; 
  }
}

.theme-light .page {  
  background-image: url(../images/cover-image-light.png); 
} 

.theme-light .header {
  background-image: url(../images/cover-image-light.png);
}

.theme-light .rec-text .rec-element {
  display: none;
}